<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panel1_conew1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{484,494}</string>
                <key>spriteSourceSize</key>
                <string>{494,506}</string>
                <key>textureRect</key>
                <string>{{1,1},{484,494}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panel2_conew1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{411,469}</string>
                <key>spriteSourceSize</key>
                <string>{413,471}</string>
                <key>textureRect</key>
                <string>{{487,1},{411,469}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panel3_conew1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,92}</string>
                <key>spriteSourceSize</key>
                <string>{295,92}</string>
                <key>textureRect</key>
                <string>{{900,364},{295,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panel6_conew1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{361,210}</string>
                <key>spriteSourceSize</key>
                <string>{363,210}</string>
                <key>textureRect</key>
                <string>{{900,1},{361,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pop_bg.png</string>
            <key>size</key>
            <string>{1196,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e57518198e85dca3a0056fe71cc4f2b:22570525433f46720e35153f2d3b14d5:e4dbc5379b051c7d83dc1a16a9af7ea9$</string>
            <key>textureFileName</key>
            <string>pop_bg.png</string>
        </dict>
    </dict>
</plist>
