<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guide1.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,255},{310,254}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{310,254}}</string>
                <key>sourceSize</key>
                <string>{328,266}</string>
            </dict>
            <key>guide10.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,127},{135,121}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,121}}</string>
                <key>sourceSize</key>
                <string>{137,121}</string>
            </dict>
            <key>guide11.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,709},{239,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,120}}</string>
                <key>sourceSize</key>
                <string>{239,120}</string>
            </dict>
            <key>guide12.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{502,123}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{502,123}}</string>
                <key>sourceSize</key>
                <string>{502,129}</string>
            </dict>
            <key>guide13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{502,123}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{502,123}}</string>
                <key>sourceSize</key>
                <string>{502,129}</string>
            </dict>
            <key>guide2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{446,281}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,281}}</string>
                <key>sourceSize</key>
                <string>{446,287}</string>
            </dict>
            <key>guide3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,575},{433,273}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{433,273}}</string>
                <key>sourceSize</key>
                <string>{433,275}</string>
            </dict>
            <key>guide4.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,575},{366,350}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{366,350}}</string>
                <key>sourceSize</key>
                <string>{384,358}</string>
            </dict>
            <key>guide5.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,255},{328,325}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{328,325}}</string>
                <key>sourceSize</key>
                <string>{358,333}</string>
            </dict>
            <key>guide6.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,255},{290,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,128}}</string>
                <key>sourceSize</key>
                <string>{290,128}</string>
            </dict>
            <key>guide7.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,582},{361,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,125}}</string>
                <key>sourceSize</key>
                <string>{361,125}</string>
            </dict>
            <key>guide8.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,127},{366,126}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{366,126}}</string>
                <key>sourceSize</key>
                <string>{384,140}</string>
            </dict>
            <key>guide9.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,709},{287,109}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{287,109}}</string>
                <key>sourceSize</key>
                <string>{293,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guide.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa44883b67a16a391645d430ea8f1070$</string>
            <key>textureFileName</key>
            <string>guide.png</string>
        </dict>
    </dict>
</plist>
