<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playera_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,361},{68,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,112}}</string>
                <key>sourceSize</key>
                <string>{68,112}</string>
            </dict>
            <key>playera_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,245},{70,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,111}}</string>
                <key>sourceSize</key>
                <string>{70,111}</string>
            </dict>
            <key>playera_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,79},{75,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,96}}</string>
                <key>sourceSize</key>
                <string>{75,96}</string>
            </dict>
            <key>playera_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,2},{75,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,96}}</string>
                <key>sourceSize</key>
                <string>{75,96}</string>
            </dict>
            <key>playera_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,358},{78,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,104}}</string>
                <key>sourceSize</key>
                <string>{78,104}</string>
            </dict>
            <key>playera_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,245},{83,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,114}}</string>
                <key>sourceSize</key>
                <string>{83,114}</string>
            </dict>
            <key>playera_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,122}}</string>
                <key>sourceSize</key>
                <string>{78,122}</string>
            </dict>
            <key>playera_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,118},{88,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,106}}</string>
                <key>sourceSize</key>
                <string>{88,106}</string>
            </dict>
            <key>playera_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{83,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,114}}</string>
                <key>sourceSize</key>
                <string>{83,114}</string>
            </dict>
            <key>playera_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,203},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>playera_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,156},{88,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,83}}</string>
                <key>sourceSize</key>
                <string>{88,83}</string>
            </dict>
            <key>playera_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,2},{78,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,96}}</string>
                <key>sourceSize</key>
                <string>{78,96}</string>
            </dict>
            <key>playera_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,110},{83,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,101}}</string>
                <key>sourceSize</key>
                <string>{83,101}</string>
            </dict>
            <key>playera_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{78,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,101}}</string>
                <key>sourceSize</key>
                <string>{78,101}</string>
            </dict>
            <key>playera_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,105},{88,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,96}}</string>
                <key>sourceSize</key>
                <string>{88,96}</string>
            </dict>
            <key>playera_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,226},{83,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,101}}</string>
                <key>sourceSize</key>
                <string>{83,101}</string>
            </dict>
            <key>playera_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,213},{78,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,99}}</string>
                <key>sourceSize</key>
                <string>{78,99}</string>
            </dict>
            <key>playera_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,329},{78,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,99}}</string>
                <key>sourceSize</key>
                <string>{78,99}</string>
            </dict>
            <key>playera_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{100,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,117}}</string>
                <key>sourceSize</key>
                <string>{100,117}</string>
            </dict>
            <key>playera_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,361},{68,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,112}}</string>
                <key>sourceSize</key>
                <string>{68,112}</string>
            </dict>
            <key>playera_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,2},{70,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,106}}</string>
                <key>sourceSize</key>
                <string>{70,106}</string>
            </dict>
            <key>playera_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,405},{74,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,89}}</string>
                <key>sourceSize</key>
                <string>{74,89}</string>
            </dict>
            <key>playera_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,314},{74,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,89}}</string>
                <key>sourceSize</key>
                <string>{74,89}</string>
            </dict>
            <key>playera_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,430},{70,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,79}}</string>
                <key>sourceSize</key>
                <string>{70,79}</string>
            </dict>
            <key>playera_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,430},{72,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,79}}</string>
                <key>sourceSize</key>
                <string>{72,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:091602e0b6a6f0ff50d91c6f4491da48$</string>
            <key>textureFileName</key>
            <string>player.png</string>
        </dict>
    </dict>
</plist>
