#/////////////////////////
# Cocos Creator
#/////////////////////////
library/
temp/
local/
build/
.cocos-project.json

#/////////////////////////
# Node / NPM
#/////////////////////////
node_modules/
npm-debug.log
yarn-error.log

#/////////////////////////
# IDE
#/////////////////////////
.vscode/
.idea/
*.swp
*.swo

#/////////////////////////
# System
#/////////////////////////
.DS_Store
Thumbs.db
desktop.ini

#/////////////////////////
# Logs
#/////////////////////////
logs/
*.log
