<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,153}</string>
                <key>spriteSourceSize</key>
                <string>{242,153}</string>
                <key>textureRect</key>
                <string>{{243,468},{242,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,153}</string>
                <key>spriteSourceSize</key>
                <string>{242,153}</string>
                <key>textureRect</key>
                <string>{{487,310},{242,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,153}</string>
                <key>spriteSourceSize</key>
                <string>{242,153}</string>
                <key>textureRect</key>
                <string>{{486,463},{242,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,152}</string>
                <key>spriteSourceSize</key>
                <string>{241,152}</string>
                <key>textureRect</key>
                <string>{{731,307},{241,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,151}</string>
                <key>spriteSourceSize</key>
                <string>{241,151}</string>
                <key>textureRect</key>
                <string>{{242,621},{241,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,153}</string>
                <key>spriteSourceSize</key>
                <string>{242,153}</string>
                <key>textureRect</key>
                <string>{{485,616},{242,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,154}</string>
                <key>spriteSourceSize</key>
                <string>{243,154}</string>
                <key>textureRect</key>
                <string>{{243,314},{243,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,154}</string>
                <key>spriteSourceSize</key>
                <string>{243,154}</string>
                <key>textureRect</key>
                <string>{{488,156},{243,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,154}</string>
                <key>spriteSourceSize</key>
                <string>{242,154}</string>
                <key>textureRect</key>
                <string>{{729,459},{242,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,154}</string>
                <key>spriteSourceSize</key>
                <string>{242,154}</string>
                <key>textureRect</key>
                <string>{{728,613},{242,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,153}</string>
                <key>spriteSourceSize</key>
                <string>{241,153}</string>
                <key>textureRect</key>
                <string>{{731,154},{241,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,154}</string>
                <key>spriteSourceSize</key>
                <string>{241,154}</string>
                <key>textureRect</key>
                <string>{{731,0},{241,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,157}</string>
                <key>spriteSourceSize</key>
                <string>{244,157}</string>
                <key>textureRect</key>
                <string>{{0,0},{244,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,157}</string>
                <key>spriteSourceSize</key>
                <string>{244,157}</string>
                <key>textureRect</key>
                <string>{{0,157},{244,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,157}</string>
                <key>spriteSourceSize</key>
                <string>{244,157}</string>
                <key>textureRect</key>
                <string>{{244,0},{244,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,157}</string>
                <key>spriteSourceSize</key>
                <string>{243,157}</string>
                <key>textureRect</key>
                <string>{{244,157},{243,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,156}</string>
                <key>spriteSourceSize</key>
                <string>{243,156}</string>
                <key>textureRect</key>
                <string>{{488,0},{243,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,157}</string>
                <key>spriteSourceSize</key>
                <string>{242,157}</string>
                <key>textureRect</key>
                <string>{{0,472},{242,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,158}</string>
                <key>spriteSourceSize</key>
                <string>{243,158}</string>
                <key>textureRect</key>
                <string>{{0,314},{243,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dogdrink.png</string>
            <key>size</key>
            <string>{972,772}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ddfa9d41227d42f6482722b3d916944:a06e61edfa201957800d619d07ae7dcd:016f4c4f588b7dc8a88c00679c04ffb4$</string>
            <key>textureFileName</key>
            <string>dogdrink.png</string>
        </dict>
    </dict>
</plist>
