<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,332}</string>
                <key>spriteSourceSize</key>
                <string>{203,332}</string>
                <key>textureRect</key>
                <string>{{1025,671},{203,332}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,332}</string>
                <key>spriteSourceSize</key>
                <string>{203,332}</string>
                <key>textureRect</key>
                <string>{{1025,876},{203,332}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,333}</string>
                <key>spriteSourceSize</key>
                <string>{202,333}</string>
                <key>textureRect</key>
                <string>{{209,673},{202,333}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,333}</string>
                <key>spriteSourceSize</key>
                <string>{203,333}</string>
                <key>textureRect</key>
                <string>{{628,1},{203,333}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,332}</string>
                <key>spriteSourceSize</key>
                <string>{204,332}</string>
                <key>textureRect</key>
                <string>{{833,1},{204,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,332}</string>
                <key>spriteSourceSize</key>
                <string>{203,332}</string>
                <key>textureRect</key>
                <string>{{614,1007},{203,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,333}</string>
                <key>spriteSourceSize</key>
                <string>{203,333}</string>
                <key>textureRect</key>
                <string>{{413,672},{203,333}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,333}</string>
                <key>spriteSourceSize</key>
                <string>{203,333}</string>
                <key>textureRect</key>
                <string>{{419,337},{203,333}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,332}</string>
                <key>spriteSourceSize</key>
                <string>{203,332}</string>
                <key>textureRect</key>
                <string>{{819,1007},{203,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,332}</string>
                <key>spriteSourceSize</key>
                <string>{203,332}</string>
                <key>textureRect</key>
                <string>{{1024,1081},{203,332}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,334}</string>
                <key>spriteSourceSize</key>
                <string>{203,334}</string>
                <key>textureRect</key>
                <string>{{1,1008},{203,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,334}</string>
                <key>spriteSourceSize</key>
                <string>{202,334}</string>
                <key>textureRect</key>
                <string>{{206,1008},{202,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,331}</string>
                <key>spriteSourceSize</key>
                <string>{205,331}</string>
                <key>textureRect</key>
                <string>{{1039,1},{205,331}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,333}</string>
                <key>spriteSourceSize</key>
                <string>{205,333}</string>
                <key>textureRect</key>
                <string>{{421,1},{205,333}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,333}</string>
                <key>spriteSourceSize</key>
                <string>{202,333}</string>
                <key>textureRect</key>
                <string>{{618,672},{202,333}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,333}</string>
                <key>spriteSourceSize</key>
                <string>{201,333}</string>
                <key>textureRect</key>
                <string>{{822,671},{201,333}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,333}</string>
                <key>spriteSourceSize</key>
                <string>{203,333}</string>
                <key>textureRect</key>
                <string>{{624,336},{203,333}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,333}</string>
                <key>spriteSourceSize</key>
                <string>{203,333}</string>
                <key>textureRect</key>
                <string>{{829,336},{203,333}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,333}</string>
                <key>spriteSourceSize</key>
                <string>{202,333}</string>
                <key>textureRect</key>
                <string>{{1034,335},{202,333}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,333}</string>
                <key>spriteSourceSize</key>
                <string>{202,333}</string>
                <key>textureRect</key>
                <string>{{410,1008},{202,333}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,333}</string>
                <key>spriteSourceSize</key>
                <string>{206,333}</string>
                <key>textureRect</key>
                <string>{{1,673},{206,333}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,334}</string>
                <key>spriteSourceSize</key>
                <string>{208,334}</string>
                <key>textureRect</key>
                <string>{{1,1},{208,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,334}</string>
                <key>spriteSourceSize</key>
                <string>{208,334}</string>
                <key>textureRect</key>
                <string>{{1,337},{208,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,334}</string>
                <key>spriteSourceSize</key>
                <string>{208,334}</string>
                <key>textureRect</key>
                <string>{{211,1},{208,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,333}</string>
                <key>spriteSourceSize</key>
                <string>{206,333}</string>
                <key>textureRect</key>
                <string>{{211,337},{206,333}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>待机动画.png</string>
            <key>size</key>
            <string>{1358,1358}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a1e5f9973f93d44d734883b472bbc6b:54dfa23fc312bf87f4799c7a88607170:7e8149be82a4064f45732242d1c59d0b$</string>
            <key>textureFileName</key>
            <string>待机动画.png</string>
        </dict>
    </dict>
</plist>
