<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Generated Image May 29, 2026 - 2_05PM.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1374,784}</string>
                <key>spriteSourceSize</key>
                <string>{1374,784}</string>
                <key>textureRect</key>
                <string>{{1,1},{1374,784}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{470,272}</string>
                <key>spriteSourceSize</key>
                <string>{490,286}</string>
                <key>textureRect</key>
                <string>{{1,1377},{470,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>冒险.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{362,107}</string>
                <key>spriteSourceSize</key>
                <string>{362,107}</string>
                <key>textureRect</key>
                <string>{{1,1651},{362,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>右一.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{134,136}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{365,1655},{134,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>右三.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{136,138}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{615,1515},{136,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>右二.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{136,138}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{613,1653},{136,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>左一.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{140,138}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{473,1377},{140,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>左三.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{140,136}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{615,1377},{140,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>左二.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{138,136}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{473,1517},{138,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>挑战.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{360,107}</string>
                <key>spriteSourceSize</key>
                <string>{362,107}</string>
                <key>textureRect</key>
                <string>{{1,1760},{360,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>playui.png</string>
            <key>size</key>
            <string>{786,1868}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1b2c40d4d3aee247614dd517e451110:b9a42c83cf77b96d8bde431448cdc900:b1e01c36833bbc9893c1c16f7a6447dc$</string>
            <key>textureFileName</key>
            <string>playui.png</string>
        </dict>
    </dict>
</plist>
